@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
* {
    font-family: 'Roboto Mono', monospace;
}

.main-info h1 {
    font-family: 'Chelsea Market', cursive;
}

.plan {
    background-color: #FF764E;
}

.learn {
    background-color: #5ED3EB;
}

.involved {
    background-color: #FFCD69;
}

.history {
    color: white;
    background-color: #DDB9A3;
}

footer {
    background-color: #F9E7DC;
}

nav a {
    color: white;
}

.fire-reservation-info img {
    margin: 0 auto;
}

.main-info {
    display: inline-block;
}

.main-info img {
    border-radius: 50%;
    width: 15%;
    height: 15%;
}

.fire-info img {
    display: block;
    margin: 0 auto;
    width: 10%;
    height: 10%;
}

.reservation-info img {
    display: block;
    margin: 0 auto;
    width: 10%;
    height: 10%;
}

.footer-content img {
    width: ;
    height: 90 vh;
    position: relative;
}