.plan {
    color: white;
    background-color: #FF764E;
}

.learn {
    color: white;
    background-color: #5ED3EB;
}

.involved {
    color: white;
    background-color: #FFCD69;
}

.history {
    color: white;
    background-color: #DDB9A3;
}

footer {
    background-color: #F9E7DC;
}