@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
* {
    font-family: 'Roboto Mono', monospace;
}

.main-info h1 {
    font-family: 'Chelsea Market', cursive;
}

.plan {
    background-color: #FF764E;
}

.learn {
    background-color: #5ED3EB;
}

.involved {
    background-color: #FFCD69;
}

.history {
    color: white;
    background-color: #DDB9A3;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0.5%;
}

footer {
    background-color: #F9E7DC;
}

.Navigator {
    margin: 0 auto;
    width: 20%;
}

nav button {
    border: none;
    border-radius: 10px;
    color: white;
    display: inline-block;
    width: 200px;
    padding: 2% 0;
    margin-left: 15%;
    font-size: 15px;
}

.fire-reservation-info {
    width: 35%;
    margin: 0 auto;
    margin-top: 25px;
}

.fire-reservation-info p {
    text-align: center;
}

.main-info {
    margin-top: 100px;
    display: inline-block;
}

.main-info img {
    display: inline-block;
    border-radius: 50%;
    width: 25%;
    height: 25%;
}

.about {
    display: inline-block;
    width: 70%;
    text-align: center;
    height: 100px;
    margin-bottom: 10%;
}

.about h1 {
    margin: 0 auto;
}

.fire-info img {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 30%;
}

.reservation-info img {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 30%;
}

.footer-content img {
    width: 100%;
    height: 200px;
}